html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f3f4;
  height: 100%;
  overflow-y: hidden;
}

p {
  font-family: 'Mate', serif;
  font-size: 25px;
}

.textbox {
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
  height: 50vh;
  overflow:hidden;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  text-align:center;
}

.arrow-container {
  height: 25vh;
  overflow: visible;
  text-align: center;
}

.spacing {
  height: 23vh;
}

#name {
  width: 60%;
  height: auto;
}

#subtitle {
  font-family: 'Comfortaa', sans-serif;
  font-size: 35px;
  margin-top: -7px;
}

#arrow {
  height: 25vh;
  width: auto;
}
