html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f3f4;
  height: 100%;
  overflow-y: hidden;
}

p {
  font-family: 'Mate', serif;
  font-size: 25px;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 35px;
  font-weight: normal;
}

.textbox {
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
  height: 50vh;
  overflow:hidden;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  text-align:center;
}

.arrow-container {
  height: 25vh;
  overflow: visible;
  text-align: center;
}

.spacing {
  height: 25vh;
}

.short-spacing {
  height: 21vh;
}

.navigation {
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #ff8833;
  border-radius: 5px;
  font-family: 'Martian Mono', monospace;
  font-size: 20px;
}

.navigation:hover {
  background-color: #f7802b;
}

.navigation:active {
  background-color: #ef7823;
}

.contact {
  color: #ff8833;
}

.contact:hover {
  color: #f7802b;
}

.contact:active {
  color: #ef7823;
}

#name {
  width: 60%;
  height: auto;
}

#arrow {
  height: 25vh;
  width: auto;
  margin-left: 20px;
}
